<html><head><style>
    .ImagePreviewContainer {
        position: relative;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #preview.hover {
        opacity: 0.4;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }

    .ng-hide {
        display: none !important;
    }

    jb-file-import {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

</head><body><div class="ImagePreviewContainer">
    <img ng-src="{{src}}" id="preview" ng-show="imgAvailable &amp;&amp; !isDragOver" src="" ng-class="(isHoverOverPreview)?'hover':''">

    <jb-file-import files="files" width="width" height="height" color="defaultColor" color-hover="hoverColor" ng-hide="(imgAvailable &amp;&amp; !isDragOver) &amp;&amp; !isHoverOverPreview" allowed-types="allowedTypeStrings">
    </jb-file-import>
</div></body></html>