@import "values/shared_mixins";

/**
 * Generic Layout Definitions
 * =================================================
 */
//set all strange margins
//h1, h2, h3, h4, h5, h6,
//ul, ol, dd,
//p, figure,
//pre, table, fieldset, hr {
//  margin-bottom: 1.5rem;
//}

//see http://csswizardry.com/2012/06/single-direction-margin-declarations/
//for detailed info
html {
  @include vendorize(box-sizing, border-box);
}

*, *:before, *:after {
  @include vendorize(box-sizing, inherit);
}

.ng-cloak, [ng-cloak], jb-style, jb-responsive-breakpoints {
  display: none;
}