<html><head><style>

    nav {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }
    
    nav.collapsed {
        width: 100%;
        flex-flow: column nowrap;
        align-items: stretch;
    }
</style>

<style ng-bind="styleTransclude">
</style>

</head><body><nav ng-class="classCollapsed">
    <jb-menu-item menu-button="" ng-if="classCollapsed.length > 0" ng-bind="labelCollapsed"></jb-menu-item>
    <content ng-if="isOpen"></content>
</nav>


</body></html>