<html><head><style>

    .expand-input {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }

    #image-infos {
        margin-top: 8px;
        font-family: 'Roboto', sans-serif;
    }

    bn-smooth-button {
        display: inline-block;
    }

    form {
        width: 365px;
    }

</style>

</head><body><jb-image-import width="359px" height="230px" raw-file="image" allowed-types="allowedImageTypes">
</jb-image-import>

<form id="image-infos">
    <label class="expand-input" style="margin-right: 5px;">
        Alternativtext:
        <input type="text" name="alt" style="flex-grow: 2; margin-left: 10px;" placeholder="Alternativtext">
    </label>


    <input type="hidden" name="gray" value="0">
    <div>
        <label>
            <input type="checkbox" name="gray" value="1">
            Vorschaubild in Graustufen
        </label>

        <bn-smooth-button ng-click="upload()">Bild hochladen</bn-smooth-button>
    </div>

    <!--TODO: implement later-->
    <!--<progress ng-attr-max="{{progressMaxValue}}" ng-attr-value="{{progressValue}}" ng-if="progressValue > 0">-->
    <!--{{progressText}}-->
    <!--</progress>-->

    <div ng-bind="error" style="color: darkred;" ng-if="error.length > 0">
    </div>

    <div ng-bind="success" style="color: darkgreen;" ng-if="success.length > 0">
    </div>
</form></body></html>