/**
 * Dimension Variables
 * =================================================
 */

//font-sizes
$font-weight-heading: 700;
$font-weight-normal: 400;

$font-size-normal: 1.1em;
$font-size-link: 1.3em;
