/**
 * Color Variables
 * =================================================
 */

$primary-color: #FF9800;
$primary-color-light: #FFCD02;
$primary-color-accent: #0095C1;

//background colors
$background-color-dark: #444444;
$background-color-light: #e1e1e1;

//box shadows
$box-shadow-normal: #444444;
$box-shadow-dark: #000000;

//text color
$text-color-light: #fafafa;
$text-color-dark: #222222;

//text shadows
$text-shadow-light: #888888;

//link color
$link-color-light: #FFFFFF;
$link-color-dark: #222222;

