/**
 * Imports
 * =================================================
 */
@import "../shared/shared_normalize";
@import "../shared/cake_base";
@import "cake";

/**
 * KULTUR AG CSS START
 * =================================================
 */
@import "values/cms_colors";
@import "values/cms_dimens";
@import "values/cms_font_families";

@import "../shared/values/shared_mixins";
@import "../shared/shared_kulturag_generic";

/**
 * Component definitions
 * ================================================
 */

jb-menu {
  //border-top: solid 1px #FFFFFF;
  //background: rgba(255, 255, 255, 0.4);
  box-shadow: $box-shadow-normal 0 2px 3px;
}

jb-menu-item {

}

jb-responsive-breakpoints::after {
  content: 'none';
}

//only for preview purposes
@media all and (min-width: 300px) {

  jb-responsive-breakpoints::after {
    content: 'small';
  }
}

@media all and (min-width: 600px) {

  jb-responsive-breakpoints::after {
    content: 'medium';
  }
}

@media all and (min-width: 900px) {
  jb-responsive-breakpoints::after {
    content: 'big';
  }
}

/**
 * Main Layout Definitions
 * =================================================
 */
@media screen {

  html {
    font: 1em/1.5 $font-families-normal;
  }

  body {
    margin: 0;
    overflow: auto;

    background: $background-color-light;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-families-header;
    font-weight: $font-weight-heading;
  }

  h1 {
    font-size: 1.5em;
    color: $primary-color-accent;
  }

  h1.page-heading {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0 5px 0 0;
    display: inline-block;
  }

  //layout with three Stripes: navigation, body, footer
  .three-stripes-layout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  section.navigation {
    width: 100%;

    background: $background-color-dark;
    color: $text-color-light;

    bn-smooth-button {
      margin: 0 0 0 10px;
    }
  }

  section.body {
    padding: 10px;
  }

  footer.main {
    min-height: 50px;
    height: 50px;
    width: 100%;

    position: absolute;
    bottom: 0;

    background: $background-color-dark;
    color: $text-color-light;
  }

  fieldset.bn-toggle {
    display: none;
  }

  fieldset fieldset {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  table {
    background: transparent;
  }

  legend.big-font {
    font-size: 17pt;
  }
}

@media only screen and (min-width: 40.0625em) {
  fieldset {
    max-width: 35em;
  }
}