<html><head><style>
    * {
        box-sizing: border-box;
    }

    .dropContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;

        font-family: sans-serif;
        font-weight: 300;

        border: 3px dashed;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        padding: 10px;

        cursor: pointer;
    }

    .message {
        /* Position */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;

        /* Font Style */
        font-size: 20pt;
        text-align: center;
    }

    [ng-cloak], [data-ng-cloak], .ng-cloak, .ng-hide {
        display: none !important;
    }
</style>

</head><body><div class="dropContainer" ng-click="openFileDialog()">
    <div class="message" ng-class="messageClasses" ng-bind="currentMessage"></div>
</div>

<input id="fileSelect" class="ng-hide" type="file" name="file" ng-attr-accept="{{allowedTypeStrings.join(',')}}" jb-bool-attr-multiple="{{allowMultipleFiles}}" ng-change="onFileSelect()"></body></html>