/* devanagari */
@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 300;
  src: local('Ek Mukta Light'), local('EkMukta-Light'), url(https://fonts.gstatic.com/s/ekmukta/v7/eZfvCT6XSiuTQmmC8YaT2_kqa6bqz2MWWNAbes-nCbE.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 300;
  src: local('Ek Mukta Light'), local('EkMukta-Light'), url(https://fonts.gstatic.com/s/ekmukta/v7/eZfvCT6XSiuTQmmC8YaT26E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 300;
  src: local('Ek Mukta Light'), local('EkMukta-Light'), url(https://fonts.gstatic.com/s/ekmukta/v7/eZfvCT6XSiuTQmmC8YaT24gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}