/**
 * Mixins
 * =================================================
 */

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin hoverActiveFocus($property, $value) {
  &:hover, &:active, &:focus {
    #{$property}: $value;
  }
}

@mixin background-linear-gradient($primary-color, $primary-color-light) {
  background: $primary-color;
  background: -moz-linear-gradient(top, $primary-color-light 0%, $primary-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $primary-color-light), color-stop(100%, $primary-color));
  background: -webkit-linear-gradient(top, $primary-color-light 0%, $primary-color 100%);
  background: -o-linear-gradient(top, $primary-color-light 0%, $primary-color 100%);
  background: -ms-linear-gradient(top, $primary-color-light 0%, $primary-color 100%);
  background: linear-gradient(to bottom, $primary-color-light 0%, $primary-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$primary-color-light}', endColorstr='#{$primary-color}', GradientType=0);
}

@mixin even-text-shadow($size, $color) {
  text-shadow: /*links-mitte*/ -$size  0     $size $color,
    /*links-oben*/  -$size -$size $size $color,
    /*mitte-oben*/   0     -$size $size $color,
    /*rechts-oben*/  $size -$size $size $color,
    /*rechts-mitte*/ $size  0     $size $color,
    /*rechts-unten*/ $size  $size $size $color,
    /*mitte-unten*/  0      $size $size $color,
    /*links-unten*/ -$size  $size $size $color;
}