/**
 * Imports
 * =================================================
 */
@import "../shared/shared_normalize";
@import "../shared/cake_base";
@import "../shared/values/shared_mixins";
/**
 * KULTUR AG CSS START
 * =================================================
 */
@import "values/public_colors";
@import "values/public_dimens";
@import "values/public_font_families";
@import "../shared/shared_kulturag_generic";

/**
 * Small and Generic Layout definitions
 * =================================================
 */
@media all {
  jb-responsive-breakpoints::after {
    content: 'xsmall';
  }

  html {
    font: $font-families-normal;
    font-weight: 300;
  }

  body {
    margin: 0;
    overflow: auto;

    background: $background-color-dark;
    color: $text-color-light;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-families-header;
    font-weight: $font-weight-heading;
  }

  h1 {
    font-size: 1.5em;
    color: $primary-color;
  }

  section.header {
    //background: url("img/page_header.jpg");
    background-color: rgba(100, 100, 100, 0.5);
    margin: 0 0 10pt 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    div {
      display: inline-flex;
      flex-flow: column;
      align-items: stretch;
      justify-content: space-around;
    }

    p {
      font-family: $font-families-header;
      font-weight: 400;
      color: $primary-color;
      font-size: 22pt;
      margin: 0;
    }

    //Logo-K
    span {
      font-family: $font-families-header;
      font-size: 48pt;
      color: $primary-color;
      padding: 0 0.2em;
      //@include even-text-shadow(2px, #000);
      text-shadow: 0 0 10px #111;
    }

  }

  section.body {
    width: 100%;
    padding: 0 6% 0 3%;
  }

}

@media all and (min-width: 320px) {
  jb-responsive-breakpoints::after {
    content: 'small';
  }

}

@media all and (min-width: 430px) {
  jb-responsive-breakpoints::after {
    content: 'medium';
  }

}