<html><head><style>
    * {
        box-sizing: border-box;
    }

    a {
        /* text-settings */
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 1.5em;
        font-weight: 300;
        color: #000;

        margin: 5px;
        padding: 5px;

        cursor: pointer;
    }

    a.collapsed {
        text-align: center;
    }

    a:hover, .active {
        text-shadow: rgba(70, 70, 70, 0.80) 0 0 1px;
    }

</style>

<style ng-bind="styleTransclude"></style>

</head><body><a ng-href="{{url}}" ng-class="[classActive, classCollapsed]" ng-click="onClick($event)">
    <!--this will transclude the button content to this component-->
    <content></content>
</a></body></html>