/**
 * Color Variables
 * =================================================
 */

$primary-color: #F04E1C;
$primary-color-light: #FFCD02;
$primary-color-accent: #0095C1;

//background colors
$background-color-dark: #000000;

//box shadows
$box-shadow-normal: #444444;
$box-shadow-dark: #000000;

//text color
$text-color-light: #F5F2F1;
$text-color-dark: #222222;

//text shadows
$text-shadow-light: #888888;
$text-shadow-dark: #222222;

//link colors
$link-color-light: $text-color-light;
$link-color-dark: #222222;
$link-color-highlight: $primary-color;

